.container {
    max-width: 100%;
    margin: auto;
}


.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);

}

.walletbtn {
    width: 170px;
    height: 48px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mainFont);
    border: none;
}

.hr {
    width: 100%;

}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    z-index: 1;
    border-radius: 16px;
    max-width: 600px;
    overflow: hidden;
    max-height: 326px;
}

.modal-content h1 {
    padding-block: 1rem;
    color: #333333;
    font-size: 24px;
    font-family: var(--mainFont);
    font-weight: 700;
}

.modal-content p {
    padding-block-start: 1rem;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mainFont);
}

.wallets {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 1rem auto;
}

.wallets img {
    max-width: auto;
}

.close {
    border: none;
    background: none;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

main {
    display: flex;
    gap: 9rem;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    place-items: center;
}

.herotext {
    padding-inline-start: 3rem;
}

.herotext span {
    color: var(--main-color);

}

.herotext h1 {
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 2.5rem;
}

.herotext p {
    color: #434343;
    font: 400 1.3rem var(--mainFont);
    margin-block: 1rem;
}

main>* {
    flex: 1;
    place-items: center;
}

.bodynav {
    background: var(--main-color);
    margin-top: 2rem;
    width: 100%;

}

.bodynav .navwrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.search {
    max-width: 600px;
    position: relative;
    padding-block-start: 2rem;
}

#srch {
    width: 390px;
    max-width: 90%;
    height: 54px;
    border-radius: 8px;
    border: 1px solid #A3A3A3;
    border-right: none;
    padding-inline: 1rem;

}

input:focus {
    outline: none;

}


.text {
    text-align: center;
    color: #000000;
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--mainFont);
}

.nft {
    margin-block-start: 2rem;
    width: 100%;
    min-height: 100vh;
    background: var(--main-color);
}

.nft-wrap {
    display: flex;
    place-items: center;
    display: flex;
    margin: auto;
    padding-top: 5rem;
    padding-inline: 2rem;
}

.nft h3 {
    font: 700 3.5rem var(--mainFont);
    color: #fff;
}

.nft p {
    font: 400 1rem var(--mainFont);
    color: #fff;
    padding: 2rem;
    padding-inline-start: 0;
    line-height: 35px;
}

.nft img {
    object-fit: cover;
}

.nft button {
    width: 156px;
    padding: .8rem;
    color: var(--main-color);
    background: #fff;
    border: none;
    font: 500 var(--mainFont);
    border-radius: 8px;
}

footer {
    width: 100%;
    color: #fff;
    height: fit-content;
    background: #000;
}

.footwrap {
    display: flex;
    padding-block-start: 3rem;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

footer ul li {
    padding-block: 1rem;

}

ul>h4 {
    font: 700 16px var(--mainFont);
}

.social-icons a {
    padding-inline: .6rem;
}

/* for mobile phones */
@media (max-width:600px) {

    .main {
        width: 100%;
        margin-top: 2rem;
    }

    .herotext>* {
        padding-block: 1rem;
    }


    .modal-content {

        padding: 5px;
        width: 100%;
        margin: auto;

    }

    .wallets img {
        width: 300px;
        max-width: 90%;
    }

    .nft-wrap {
        flex-wrap: wrap;
    }

    .nft img {
        max-height: 350px;
    }
}

/* for ipads */
@media (min-width: 481px) and (max-width:820px) {
    main {
        margin-top: 4rem;
    }

    .footwrap {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .nft-wrap {
        flex-wrap: wrap;
    }
}

@media screen and (min-width:821px) and (max-width:1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .main {
        gap: 3rem;
        margin: auto;
    }

    .nft-wrap {
        padding-inline: 0;
        flex-wrap: nowrap;
    }

}